#bg {
    background: #ffefe9 
    
}


#encadre {
    border: 1px solid #1C6EA4;
    padding: 1px 20px;
}


h1 {
    color: rgb(66, 0, 0);
    font-size: 3em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 2px;
    word-spacing: 3px;
  }


h2 {
    color: rgb(119, 0, 0);
    font-size: 2em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
  }

  
#textPrincipal {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    }


a {
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
}


strong {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(100, 5, 0);
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}


th {
    color: rgb(100, 5, 0);
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    letter-spacing: 2px;
    word-spacing: 4px;
}


table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    padding: 15px;
  }

    
.myButton {
    color: rgb(119, 0, 0);font-size: 16px; line-height: 9px; padding: 7px; border-radius: 6px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-weight: normal;
    text-decoration: none; font-style: normal; font-variant: normal; text-transform: none;
    background-image: linear-gradient(rgb(119, 0, 0) 0%, rgb(119, 1, 0) 50%, rgb(100, 0, 0) 100%);
    box-shadow: rgb(20, 20, 20) 0px 0px 0px 2px; border: 0px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: rgb(66, 0, 0);
}
    .myButton:active {
    background: rgb(119, 0, 0); }

